/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    #navbar {
        height: 5rem;
        width: 100%;
        align-items: center;
    }

    #logo {
        width: 100%;
        float: left;
        margin-top: 2rem;
    }

    #logo img{
        height: 6rem;
    }

    #nav {
        visibility: hidden;
    }

    #icon {
        float: right;
        width: 100%;
        text-align: right;  
    }

    #content {
        float: none;
        padding: 0 20rem 0;
        margin-top: none;
        width: 30rem;
        font-weight:lighter;
        font-size: 1.25rem;
    }

    #signup_form {
        float:none;
        display: block;
    }

} 

@font-face {
    font-family: Roboto;
    src: url('/roboto/');
}

* {
    padding: 0;
    margin: 0;
    color: #fff;
}

body {
    height: 125vh;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto", san-serif;
}

form {
    padding-bottom: 1.5rem;
}

button {
    background-color: #4995ce;
    width: 33.4rem;
    height: 4.5rem;
    font-size: 1.2rem;
}

#navbar {
    height: 5rem;
    display: flex;
    align-items: center;
}

#navbar * {
    display: inline;
    padding-top: .9rem;
}

#navbar li {
    margin: 2.25rem;
}

#navbar a {
    text-decoration: none;
    font-size: 1.5rem;
}

#logo {
    float: left;
    width: 29%;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

#nav {
    width: 47%;
}

#icon {
    float: right;
    width: 18%;
    text-align: right;
}

.fa-bars {
    font-size: 1.7rem;
}

#main-content{
    padding: 13rem 5rem 0 5rem;
    display: block; 
}

#content {
    float: left;
    padding: 2rem 5rem 0 5rem;
    margin-top: none;
    width: 30rem;
    font-weight:lighter;
    font-size: 1.25rem;
}

h1 {
    font-size: 4.5rem;
    padding-bottom: 1.4rem;
}

#signup_form {
    float: right;
    padding-right: 3.5rem;
}

#signup_form h3 {
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
    padding-bottom: 1.5rem;
}

#signup_form input {
    background-color: rgba(255, 255, 255, .1);
    width: 32rem;
    height: 4rem;
    padding: .5rem;
    font-size: 1.2rem
}

::placeholder {
    color: rgba(255, 255, 255, .6);
}

#fa-eye {
    margin-left: -30px; 
    cursor: pointer;
}

#terms_info{
    font-size: 1.1rem;
    text-align: center;
    color: grey;
    padding: 0 5rem 0 5rem
}

#terms_info a{
    text-decoration: none;
    display: block;
}

#footer {
    margin: 45rem 2rem 0 4rem;
}

#footer * {
    display: inline;
    padding: 0 0 2rem 0;
}

#copyright {
    float: left;
    font-size: 1rem;
    text-align: left;
    width: 30%;
}

#footer_nav {
    float: right;
    text-align: right;
    width: 40rem;
    margin-left: 5rem;
}

#footer_nav li {
    margin: 1.5rem;
}

#footer_nav a {
    text-decoration: none;
    font-size: 1.2rem;
}





