@font-face {
    font-family: Roboto;
    src: url('/roboto/');
}

* {
    padding: 0;
    margin: 0;
    color: #fff;
}

body {
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto", san-serif;
}

h1 {
    font-size: 3rem;
}

form {
    padding-bottom: 1.5rem;
}

button {
    background-color: #4995ce;
    width: 25.4rem;
    height: 3rem;
}

#navbar {
    height: 5rem;
    display: flex;
    align-items: center;
}

#navbar * {
    display: inline;
    padding-top: .9rem;
}

#navbar li {
    margin: 2.25rem;
}

#navbar a {
    text-decoration: none;
}

#logo {
    float: left;
    width: 29%;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

#icon {
    float: right;
    width: 10%;
}

#main-content{
    padding: 13rem 7.75rem 0 5rem;
    display: block; 
}

#content {
    float: left;
    padding: 2rem 8rem 0 5rem;
    margin-top: none;
    width: 22rem;
    font-weight:lighter;
}

#signup_form {
    float: right;
    padding-right: 3.5rem;
}

#signup_form h3 {
    font-size: .75rem;
    text-align: center;
    font-weight: 500;
    padding-bottom: 1.5rem;
}

#signup_form input {
    background-color: rgba(255, 255, 255, .1);
    width: 24rem;
    height: 3rem;
    padding: .5rem;
}

::placeholder {
    color: rgba(255, 255, 255, .6);
}

#fa-eye {
    margin-left: -30px; 
    cursor: pointer;
}

#terms_info{
    font-size: .75rem;
    text-align: center;
    color: grey;
    padding: 0 5rem 0 5rem
}

#terms_info a{
    text-decoration: none;
    display: block;
}

#footer {
    margin: 35rem 5rem 0 4rem;
}

#footer * {
    display: inline;
    padding: 0 0 2rem 0;
}

#copyright {
    float: left;
    font-size: small;
    text-align: left;
    width: 30%
}

#footer_nav {
    float: right;
    text-align: right;
    margin-left: 5rem;
}

#footer_nav li {
    margin: 1.5rem;
}

#footer_nav a {
    text-decoration: none;
    font-size: 90%;
}





