@font-face {
    font-family: Roboto;
    src: url('/roboto/Roboto-Regular.ttf');
}

* {
    padding: 0px;
    margin: 0px;
    color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: auto;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("img/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto", san-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    height: 4em;
    display: flex;
}

#navbar * {
    display: inline;
}

#navbar li {
    margin: 2.25em;
}

#nav a {
    text-decoration: none;
    font-size: 1em;
    align-self: flex-end;
}

#logo {
    float: left;
    width: 31%;
    height: 3em;
}

#nav {
    float: left;
    width: 52%;
    height: 3em;
    display: flex;
    align-self: flex-end;
}

#nav li {
    margin: 2em;
}

#nav a {
    text-decoration: none;
    font-size: 1em;
}

#menu_icon {
    float: left;
    display: flex;
    width: 17%;
    height: 3em;
    padding-right: 2em;
}

.fas {
    margin-left: auto;
    align-self: flex-end;
}

#main-content {
    height: auto;
    margin: 3em 4em 0 0;
    padding: 3em 0 0 0;
    border: 1px solid transparent;
}

#content {
    float: left;
    width: 48%;
    height: auto;
    margin: 1em 2em 0 0;
    padding-bottom: 3em;
}

#content h1 {
    font-size: 2.5em;
    padding: 0 0 0 2em;
    font-weight: 500;
}

#content_copy {
    font-weight:lighter;
    font-size: 1em;
    padding:  1em 3em 0 5.2em;
}

#signup_form {
    float: left;
    width: 48%;
    height: auto;
    padding: 0 0 2.5em 0;
    margin: 0 0 0 .2em;
    text-align: center;
}

#signup_form h3 {
    font-size: 1em;
    text-align: center;
    font-weight: 400;
    padding-bottom: 1.5em;
}

#signup_form input {
    background-color: rgba(255, 255, 255, .1);
    width: 20em;
    height: 2em;
    padding: .5em;
    font-size: 1em;
    border: 1px solid rgba(255, 255, 255, .5);
}

::placeholder {
    color: rgba(255, 255, 255, .8);
}

button {
    background-color: #4995ce;
    width: 21.2em;
    height: 3em;
    font-size: 1em;
    border: none;
    border-radius: 0 0 .2em .2em;
}

#top {
    border-radius: .2em .2em 0 0;
}

#terms_info{
    font-size: .8em;
    text-align: center;
    color: grey;
    padding: 1em 5em 0 5em
}

#terms_info a{
    text-decoration: none;
    display: block;
}

#footer {
    height: auto;
    margin: 31em 0 0 0;
}

#footer * {
    display: inline;
    padding: 0;
}

#copyright {
    width: 48%;
    font-size: .8em;
    text-align: left;
    margin: 0 0 0 2em;
}

#footer_nav {
    float: right;
    width: 50%;
    height: auto;
    text-align: right;
}

#footer_nav li {
    margin: .1em;
}

#footer_nav a {
    text-decoration: none;
    font-size: .9em;
    padding-right: 1em;
}

/* Mobile */

@media screen and (max-width: 480px) {

    body {
        width: 100%;
        height: auto;
        background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("img/background.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 150%;
        font-family: "Roboto", san-serif;
    }

    .container {
        width: 100%;
    }

    #logo {
        width: 40%;
    }

    #logo img {
       width: 150%;
    }

    #nav {
        visibility: hidden;
    }
    
    #menu_icon {
        width: 40%;
        display: flex;
        padding-right: 1em;
        font-size: 80%;
    }

    .fas {
        margin-left: auto;
        align-self:flex-end;
    }
    
    #main-content {
        height: auto;
        width: 100%;
        padding: 0 0 0 1em;
        margin: .5em 0 0 0;
    }
    
    #content {
        width: 100%;
        height: auto;
        margin: 0 .5em 0 .5em;
        font-weight:lighter;
        font-size: .6em;
    }

    #content h1 {
        font-size: 3.2em;
        padding: 0 0 .4em 0;
        font-weight: 400;
        line-height: 1.1em;
    }

    #content_copy {
        font-weight:lighter;
        font-size: 1.3em;
        margin: 0 2em 0 0;
        padding: 0;
    }

    form {
        padding-bottom: 1em;
    }

    #signup_form {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 1em 0 1em 0;
    }

    #signup_form h3 {
        font-size: 80%;
        text-align: center;
        font-weight: 400;
        padding-bottom: 1em;
    }

    #signup_form input {
        width: 16em;
        font-size: 75%;
    }
    button {
        background-color: #4995ce;
        width: 17.1em;
        font-size: 75%;
    }

    ::placeholder {
        color: rgba(255, 255, 255, 1);
    }

    #terms_info{
        font-size: .6em;
        text-align: center;
        color: grey;
        padding: 0 3em 0 3em
    }

    #footer {
        height: auto;
        margin: 1em 0 0 1em;
        float: none;
    }
    
    #copyright {
        width: 100%;
        margin: auto;
        text-align: center;
        font-size: .2em;
        padding-bottom: 2em;
        float: left;
    }

    #footer_nav {
        width: 100%;
        font-size: .2em;
    }

    #footer_nav a {
        text-decoration: none;
        display: block;
        text-align: center;
    }


}



